* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

@font-face {
  font-family: roboto;
  src: url(../fonts/Roboto-Regular.otf);
}

:root {
  font-family: roboto;
  --blue: #0ea5e9;
  --grey-blue: #eff6ff;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 0.8fr 4fr;
  grid-template-rows: 0.6fr 3fr;
}

.dashboard {
  background-color: var(--blue);
  grid-area: 1 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  color: #e8e8e8;
}

.menu {
  background-color: white;
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-template-rows: 1fr 2fr;
}

.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.account {
  display: flex;
  justify-content: center;
  align-items: center;
}

.greeting {
  display: flex;
  justify-content: center;
  align-items: center;
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  background-color: var(--grey-blue);
  grid-area: 2 / 2 / 3 / 3;
}
